/* Google'dan modern bir font çekelim */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #6681f8 0%, #7f5577 100%); /* Arka plana şık bir gradyan */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #fffefe;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgb(0, 0, 0);
}

h1 {
    color: #070707;
    text-align: center;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

/* Giriş Alanı Tasarımı */
.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 12px;
    border: 2px solid #eee;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #280b46; /* Tıklayınca mor çerçeve olsun */
}

button#addTaskBtn {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s, transform 0.2s;
}

button#addTaskBtn:hover {
    background-color: #5a368c;
    transform: translateY(-2px); /* Üzerine gelince hafif yukarı kalksın */
}

/* Liste Elemanları Tasarımı */
ul {
    list-style: none;
}

li {

    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    transition: all 0.3s;
    border-left: 5px solid #764ba2; /* Sol tarafa renkli bir şerit */
}

li:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.task-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Checkbox'ı özelleştirme */
.complete-checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: #764ba2; /* Tik rengi */
}

.task-text {
    font-size: 15px;
    color: #444;
}

.delete-btn {
    background: #ffe5e5;
    border: none;
    color: #ff4d4d;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.delete-btn:hover {
    background: #ff4d4d;
    color: white;
}